.game-container {
    background-color: #f0f4ed;
    padding: 5px 5px 15px 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.game-live {
    font-size: 30px;
    margin: 10px;
}

.game-action {
    min-height: 250px;
}

.game-stats {
    margin-top: 50px;
}

.game-stats span {
    margin-right: 5px;
}

.game-hands button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.play-button {
    text-align: right;
}